.input-container {
  display: flex;
  gap: 50px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 1px;
}


.input .title {
  font-family: "Inter", sans-serif;
  text-transform: none;
  font-size: 16px;
}

.input input {
  width: 225px;
  height: 30px;

  background: #212121;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}