@keyframes input-animation {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes input-title-animation {
  to {
    opacity: 1;
    filter: none;
    transform: translateX(0);
  } 
}

.input-container {
  display: flex;
  gap: 50px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 1px;

  width: 225px;
}

.input .title {
  font-family: "Inter", sans-serif;
  text-transform: none;
  font-size: 16px;

  opacity: 0;
  filter: blur(3px);
  transform: translateX(-20px);

  animation: input-title-animation 250ms linear forwards;
}

.input input {
  width: 0;
  height: 40px;
  padding: 4px 16px;

  font-family: "Satoshi Variable", sans-serif;
  font-size: 18px;

  background: #212121;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;

  animation: input-animation 300ms ease-out forwards;
  color: #ffffff;
}

.input input:focus {
  outline: none;
  caret-color: white;
}