@keyframes foreground-animation {
  from {
    translate: 10% 10%;
  }

  to {
    translate: -10% -10%;
  }
}

#foreground {
  z-index: 10;
  position: absolute;
  inset: -200%;

  background-image: url("../assets/noise6.jpeg");
  opacity: 5%;

  animation: foreground-animation linear 0.2s infinite both;
}