@keyframes rectangle-animation {
  from{opacity: 0;}
  to {
    opacity: 1;
  }
}

@keyframes shrink-animation {
  to {
    transform: translateY(-220%);
  }
}

@keyframes line-disappear {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes line-shrink {
  from {
    height: 100%;
  }

  to {
    height: 360px;
  }
}

@keyframes bg-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes stuggered-animation {
  from {
    transform: translateX(-60px);
    opacity: 0;
    filter: blur(10px);
  }

  20% {
    transform: translateX(-20px);
    filter: none;
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}


#page {
  background: #161616;
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#part1 {
  height: inherit;
  position: relative;

  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;

}

#part1 .content-container {
  position: absolute;
  top: 0;
  width: 100%;
  
  padding: 25px 30px; 
}

#part1 .content-container::before{
  content: "";
  transform: translate(-30px, -25px);
  position: absolute;
  height: 100%;
  width: 100%;

  opacity: 0;
  background: #161616;
  animation: bg-in 1.2s linear forwards;
}

#part1 .content-container .content {
  position: relative;
  height: 100%;
  width: 100%;
}

.content-container .content > .title {
  font-family: Arial, sans-serif;
  font-size: 94px;
  text-transform: uppercase;
  white-space: nowrap;

  display: flex;

}

.content-container .content .title .character-wrapper {
  position: relative;
  height: auto;
}

.title .character-wrapper .character {
  position: relative;
  inset: 0;

  opacity: 0;
  animation: stuggered-animation cubic-bezier(0, 0, 0.4, 1) forwards 1000ms;
}

.content-container .content .title .character-wrapper:nth-child(1) .character { animation-delay: 50ms;}
.content-container .content .title .character-wrapper:nth-child(2) .character { animation-delay: 100ms;}
.content-container .content .title .character-wrapper:nth-child(3) .character { animation-delay: 150ms;}
.content-container .content .title .character-wrapper:nth-child(4) .character { animation-delay: 200ms;}
.content-container .content .title .character-wrapper:nth-child(5) .character { animation-delay: 250ms;}
.content-container .content .title .character-wrapper:nth-child(6) .character { animation-delay: 300ms;}
.content-container .content .title .character-wrapper:nth-child(7) .character { animation-delay: 350ms;}
.content-container .content .title .character-wrapper:nth-child(8) .character { animation-delay: 400ms;}
.content-container .content .title .character-wrapper:nth-child(9) .character { animation-delay: 450ms;}
.content-container .content .title .character-wrapper:nth-child(10) .character { animation-delay: 500ms;}
.content-container .content .title .character-wrapper:nth-child(11) .character { animation-delay: 550ms; width: 30px;}
.content-container .content .title .character-wrapper:nth-child(12) .character { animation-delay: 600ms;}
.content-container .content .title .character-wrapper:nth-child(13) .character { animation-delay: 650ms;}
.content-container .content .title .character-wrapper:nth-child(14) .character { animation-delay: 700ms;}
.content-container .content .title .character-wrapper:nth-child(15) .character { animation-delay: 750ms;}
.content-container .content .title .character-wrapper:nth-child(16) .character { animation-delay: 800ms;}
.content-container .content .title .character-wrapper:nth-child(17) .character { animation-delay: 850ms;}
.content-container .content .title .character-wrapper:nth-child(18) .character { animation-delay: 900ms;}
.content-container .content .title .character-wrapper:nth-child(19) .character { animation-delay: 950ms;}
.content-container .content .title .character-wrapper:nth-child(20) .character { animation-delay: 1000ms;}
.content-container .content .title .character-wrapper:nth-child(21) .character { animation-delay: 1050ms;}

@keyframes input-animation {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.content-container .input-container {
  width: 100%;
  height: 225px;
  padding: 40px 26px;

  background: #1c1c1c;
  border-radius: 10px;

  display: flex;

  animation: input-animation cubic-bezier(0.9, 0.2, 0.5, 0.8) forwards 500ms;
}

#part2 {
  height: inherit;

  grid-column: 4/8;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: end;
}

#page .rectangle-frame {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%;
  width: 100%;

  display: flex;
  align-items: flex-end;
}

#page  #part1 .rectangle-frame:nth-child(2) {
  animation: line-shrink 1.4s cubic-bezier(0.8, 0.2, 0.2, 0.8) 3.3s;
}

#page #part1 .rectangle-frame:nth-child(3) {
  animation: line-shrink 1.6s cubic-bezier(0.8, 0.2, 0.2, 0.8) 3.4s;
}

#page #part2 .rectangle-frame:nth-child(2),
#page #part2 .rectangle-frame:nth-child(3),
#page #part2 .rectangle-frame:nth-child(4) {
  animation: line-disappear 1.2s cubic-bezier(1, 0.5, 0.5, 1) forwards 3.32s;
}

.rectangle-frame .rectangle {
  width: 100%;

  animation: shrink-animation 1.4s cubic-bezier(1, 0.2, 0.4, 0.6) forwards 1.8s;
}

#part1 .rectangle-frame:nth-child(1) .rectangle { height: 400px; }
#part1 .rectangle-frame:nth-child(2) .rectangle { height: 590px; }
#part1 .rectangle-frame:nth-child(3) .rectangle { height: 500px; }

#part2 .rectangle-frame:nth-child(1) .rectangle { height: 336px; }
#part2 .rectangle-frame:nth-child(2) .rectangle { height: 640px; }
#part2 .rectangle-frame:nth-child(3) .rectangle { height: 432px; }
#part2 .rectangle-frame:nth-child(4) .rectangle { height: 536px; }

.rectangle-frame .rectangle::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.1)
  );

  animation: rectangle-animation 1000ms linear forwards;
}

#part1 .rectangle-frame:nth-child(1) .rectangle::before { animation-delay: 100ms; }
#part1 .rectangle-frame:nth-child(2) .rectangle::before { animation-delay: 200ms; }
#part1 .rectangle-frame:nth-child(3) .rectangle::before { animation-delay: 300ms; }

#part2 .rectangle-frame:nth-child(1) .rectangle::before { animation-delay: 400ms; }
#part2 .rectangle-frame:nth-child(2) .rectangle::before { animation-delay: 300ms; }
#part2 .rectangle-frame:nth-child(3) .rectangle::before { animation-delay: 200ms; }
#part2 .rectangle-frame:nth-child(4) .rectangle::before { animation-delay: 100ms; }
